################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/PaymentsApi/.vs
/PaymentsApi/PaymentsApi/bin/Debug/net8.0
/PaymentsApi/PaymentsApi/obj
/PaymentsApi/PaymentsApi/bin/Debug/net7.0
